name: Release

on:
  workflow_dispatch:
    inputs:
      wrapper:
        description: 'Wrapper version (1.2.0)'
        required: true
        type: string
      pandoc:
        description: 'Pandoc version (3.8.3)'
        required: true
        type: string
      version:
        description: 'Release version (3.8.3)'
        required: true
        type: string
      publish:
        description: 'Release Type'
        required: true
        default: 'publish'
        type: choice
        options:
        - none
        - release
        - publish

jobs:
  build:
    name: Build Artifacts
    uses: ./.github/workflows/build.yaml
    with:
      wrapper: ${{ inputs.wrapper }}
      pandoc: ${{ inputs.pandoc }}
      version: ${{ inputs.version }}

  release:
    permissions:
      contents: write
      packages: write

    runs-on: ubuntu-24.04
    
    needs: build

    steps:
   
    - uses: actions/checkout@v6

    - name: Setup dotnet
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          10.x

    - name: Download Artifacts
      uses: actions/download-artifact@v7
      with:
        name: build-artifacts
        path: build-artifacts

    - name: Create release
      if: ${{ inputs.publish == 'release' || inputs.publish == 'publish' }}
      uses: ncipollo/release-action@v1
      with:
        artifacts: "build-artifacts/*.nupkg,build-artifacts/_manifest/spdx_2.2/*.*"
        generateReleaseNotes: true
        tag: ${{ github.event.inputs.version }}

    - name: Publish to Nuget
      if: ${{ inputs.publish == 'publish' }}
      run: >
        dotnet nuget push
        build-artifacts/*.nupkg
        --source "https://api.nuget.org/v3/index.json"
        --api-key "${{ secrets.DEMACONSULTINGNUGETKEY }}"
